* {
    box-sizing: border-box;
  }
  
  body {
    width: 1024px;
    font-family: "Gill Sans", sans-serif;
    font-size: 14px;
    color: #333333;
}
  
  /* Style the header */
  .header {
    float: left;
    background-color: #f1f1f1;
    margin: 20;
    padding: 20;
    height: 100px;
    text-align: center;
  }

    /* side header */
    .header.side {
        width: 25%;
        text-align: right;
    }
      
      /* Main header */
      .header.main {
        width: 50%;
      }
   
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .column {
    float: left;
  }
  
  /* Left  column */
  .column.side {
    width: 25%;
  }
  
  /* Main column */
  .column.main {
    width: 75%;
  }
  
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }

   /* Clear floats after the columns */
   .header::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
  }